<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gravity</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
</head>
<body>

<!-- Header -->

<header class="header">
    <div class="navbar">
        <div class="container">
            <div class="navbar-logo">
                <object class="header-logo__svg" type="image/svg+xml" data="img/Logo.svg" width="20%" height="20px">
                </object>
            </div>
            <div class="navbar-search">
                <form action="" class="navbar-search__form">
                    <input type="checkbox" id="search-button" class="navbar-search__button">
                    <label class="navbar-search__toggle" for="search-button"> </label>
                    <input class="navbar-search__field" type="text">
                </form>

            </div>
            <div class="navbar-wrap">
                <nav class="menu">
                    <div class="menu__block">
                        <input type="checkbox" id="toggle-menu" class = "menu__toggle-button">
                        <label class="menu__toggle" for="toggle-menu"> </label>
                    </div>
                    <ul class="menu__wrap">
                        <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Work Details</a></li>
                        <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="content">
    <div class="container">
        <div class="content-text">
            <h1 class="content-text__title">Work around you and your team</h1>
            <p class="content-text__article">From ads that dance or sing to MTV-like commercials, online advertisers are now using a new type of technology “rich media” to attract consumers.</p>

               <a href="#" class="content-text__button">Get started</a>

        </div>
        <div  class="content-video">
            <a    class="content-video__item" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                <img  class="content-video__img" src="../img/videopreset.png" alt="">
            </a>
        </div>


    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
